:host {
  display: block;
  --scale-height: 0.5rem;
  --scale-gap: 2px;
  --indicator-color: var(--color-text-1);
}

.wrapper {
  position: relative;
  padding-top: 1.25rem;
}

.indicator {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateX(-50%);

  transition: left 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: var(--indicator-color);
  pointer-events: none;

  & ui-icon {
    width: 1rem;
    height: 1rem;
    display: block;
  }
}

.track {
  display: flex;
  gap: var(--scale-gap);
  height: var(--scale-height);
  width: 100%;
}

.step {
  flex: 1;
  border-radius: var(--radius-round);

  background-color: oklch(
    from var(--color-brand) l c h /
    calc(20% + (var(--step-ratio) * 80%))
  );
}
